/* Ryan's style sheet */

body
{
    font-family: Arial, sans-serif;
    max-width: 900px;
    padding: 20px;
    color: #FFFFFF;
    background-image: linear-gradient(to bottom right, #04131c, #012c45);
    margin: auto;
}

main
{
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
}

ul {
    list-style-position: inside;
    padding-left: 0;
    margin: 15px auto;
}

body, ul {
    color: #FFFFFF;
}

li {
    text-align: left;
}

h1
{
    color: #98c8ed;
}

h2
{
    border-bottom: 1px solid #cccccc;
    padding-bottom: 5px;
}

h3
{
    color: #98c8ed;
}

a:link {
    color: #2ba2fc;
    text-decoration: none;
}

div#bar1 {
    display: block;
    border: 2px solid black;
    width: 133px;
    height: 310px;
    margin-bottom: 0;
}

div#bar2 {
    display: block;
    border: 2px solid black;
    width: 133px;
    height: 200px;
    margin-top: 0;
    padding-top: 0;
}

div#sidebars {
    float: left;
    display: block;
    position: fixed;
    text-align: center;
    width: 120px;
    height: 275px;
    margin-top: 5px;
    margin-bottom: 30px;

    z-index: 70;
}

#content {
    margin-left: 133px;
}

div#bar1 {
    display: block;
    border: 2px solid aliceblue;
    width: 133px;
    height: 310px;
    margin-bottom: 0;
}

div#bar2 {
    display: block;
    border: 2px solid aliceblue;
    width: 133px;
    height: 200px;
    margin-top: 0;
    padding-top: 0;
}

div#sidebars {
    float: left;
    display: block;
    position: fixed;
    text-align: center;
    width: 120px;
    height: 275px;
    margin-top: 5px;
    margin-bottom: 30px;
    z-index: 70;
}

main {
    margin-left: 150px;
}