input#submit {
    background-color: #FF8427;
    color: white;
    width: 310px;
    border: 3px solid black;
    border-radius: 5px;
}

input#submit:hover {
    color: blue;
    background-color: white;
}

input#submit:active {
    color: black;
    background-color: lawngreen;
}

input#text, textarea#details {
    color: #000000;
    box-shadow: 10px 10px 5px #DE443F;
    border: 3px solid black;
    border-radius: 10px;
    width: 300px;
    height: 75px;
}

fieldset.form {
    display: block;
    width: 80%;
    min-width: 340px;
    color: black;
    font-weight: bold;
    background-color: rgb(255 132 39 / 0.42);
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    /*margin: 20px;*/
}

legend {
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    background-color: rgb(0 255 190);
}

.text_label {
    float: left;
    width: 100px;
    text-align: right;
}

.text_input {
    width: 180px;
    text-align: left;
    padding: 0px 0px 0px 10px;
    border: 3px solid black;
    border-radius: 5px;
}

.text_input:hover {
    background-color: rgb(255 0 0 / 0.71);
}

div#rad {
    margin-left: 38px;
}

div#I {
    margin-left: 5px;
}

select {
    border: 1px solid black;
    border-radius: 5px;
}

select:focus {
    background-color: #08DC7F;
}

select:hover {
    background-color: rgb(255 0 0 / 0.71);
}

select:active {
    background-color: white;
}

select#feed {
    width: 190px;
}

input#da {
    width: 132px;
    border: 1px solid black;
    border-radius: 5px;
}

input#da:hover {
    background-color: rgb(255 0 0 / 0.71);
}

input#da:focus {
    background-color: #08DC7F;
}

input#da:active {
    background-color: #16bfbf;
}

input.text_input:focus, textarea.text_input:focus {
    outline: 2px solid #000000;
    background-color: #08DC7F;
    color: black;
    font-weight: bold;
}

input.text_input:active, textarea.text_input:active {
    background-color: #16bfbf;
}

textarea#details {
    background-image: url("../../resources/imgs/access/details.png");
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 5px;
    text-indent: 10px;
}

#ws {
    background-image: url("../../resources/imgs/access/globe.png");
    background-repeat: no-repeat;
    background-position: 3px;
    background-position-y: center;
    text-indent: 5px;
}

#em {
    background-image: url("../../resources/imgs/access/mail.png");
    background-repeat: no-repeat;
    background-position: 3px;
    background-position-y: center;
    text-indent: 5px;
}

#fn, #ln {
    background-image: url("../../resources/imgs/access/id.png");
    background-repeat: no-repeat;
    background-position: 3px;
    background-position-y: center;
    text-indent: 5px;
}

#question, #feed {
    background-image: url("../../resources/imgs/access/question.png");
    background-repeat: no-repeat;
    background-position: 3px;
    background-position-y: center;
    text-indent: 5px;
}