.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

.col {
    display: flex;
    flex-direction: column;
}

fieldset {
    width: 450px;
    height: 445px;
}

fieldset p{
    text-align: center;
}

div.UI{
    display: block;
    align-content: center;
    text-align: center;
}