.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

.col {
    display: flex;
    flex-direction: column;
}

fieldset {
    width: max-content;
    height: max-content;
}

fieldset p{
    text-align: center;
}

#content {
    margin-left: 133px;
}

footer {
    margin-left: 160px;
    text-align: center;
}

header {
    margin-left: 133px;
}