.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

.col {
    display: flex;
    flex-direction: column;
}

fieldset {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 400px;
}

fieldset p{
    text-align: center;
}

#strip_container {
    display: flex;
    gap: 10px;
}

.strip {
    display: inline-block;
    width: 100px;
    flex: 1;
}

div.UI{
    display: block;
    align-content: center;
    text-align: center;
}

header {
    margin-left: 133px;
}

div.UI {
    display: block;
    align-content: center;
    text-align: center;
}