body    {
    background-color: black;
}

#color_me   {
    background-color: white;
}

@media (min-width: 768px)   {
    body {
        background-color: red;
        #color_me {
            background-color: white;
        }
    }
}

@media (min-width: 992px)   {
    body {
        background-color: orange;
        #color_me {
            background-color: white;
        }
    }
}

@media (min-width: 1200px)   {
    body {
        background-color: yellow;
        #color_me {
            background-color: white;
        }
    }
}