img#team {
    display: flex;
    align-self: center;
    justify-self: center;
    border-radius: 10px;
}

div#map {
    display: flex;
    align-self: center;
    justify-self: center;
    height: 400px;
    width: 80%;
    border-radius: 10px;
}

h2{
    color: black;
    text-align: left;
}

fieldset {
    width: 425px;
}

p#sidebar {
    height: 255px;
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    0%, 100%    { opacity: 0;}
    50%         { opacity: 1;}
}

.slide {
    display: none;
    width: 400px;
    height: 225px;
    border-radius: 10px;
}

#slideshow_container {
    display: block;
    width: 400px;
    height: 225px;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden; !important;
}

#video_container {
    display: block;
    width: 400px;
    height: 225px;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden; !important;
}