body {
        display: flex;
        text-align: center;
}

h1 {
        margin-left: 0;
}

h3      {
        text-align: center;
}

#subtitle {
        color: black;
        font-size: 120%;
}

.directory {
        display: inline-block;
        text-align: center;
        font-size: 80%;
}

img#logo {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        height: 400px;
        width: 400px;
        clip-path: circle(49.9% at 50% 50%);
}

aside, footer {
        margin-left: 0;
}