header, footer, aside {
        margin: 0;
}

#subtitle {
        color: black;
        font-size: 120%;
}

.directory {
        display: inline-block;
        text-align: center;
        font-size: 80%;
        text-indent: 0;
}

img#logo {
        display: block;
        margin: auto;
        height: 400px;
        width: 400px;
        clip-path: circle(49.9% at 50% 50%);
}

fieldset {
        width: min(500px);
        height: min(120px);
}