body {
        display: flex;
        text-align: center;
}

h3      {
        text-align: center;
}

#subtitle {
        color: black;
        font-size: 120%;
}

.directory {
        display: inline-block;
        text-align: center;
        font-size: 80%;
}

img#caution {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        height: 200px;
        clip-path: circle(49.9% at 50% 50%);
}