a {
    text-align: center;
}

ul {
    list-style-type: none;
}

#spacer {
    width: 133px;
}

title {
    text-align: center;
}

header {
    display: block;
    width: 80%;
    text-align: center;
    justify-self: center;
    align-self: center;
}

p#sidebar {
    height: 255px;
}

#content {
    display: block;
    width: 80%;
    text-align: center;
    margin-left: min(133px);
    justify-self: center;
    align-self: center;
}