table {
    border-spacing: 1px;
    outline-style: solid;
    margin-right: min(63px);
}

table, td, th {
    border-style: solid;
    border-collapse: collapse;
    border-block: 1px solid black;
}

td:hover, th:hover{
    background-color: rgb(161 152 251 / 0.67);
}

.fp, .rp, .ns, .all, .fprp, .rpns, .nsfp, .phase, .fill {
    text-align: center;
}

.task, .job {
    text-align: left;
}

.fp {
    background-color: rgb(0 255 157 / 0.71);
}

.rp {
    background-color: rgb(213 19 19 / 0.58);
}

.ns {
    background-color: rgb(8 188 243 / 0.58);
}

.all {
    background-color: rgb(255 95 0 / 0.69);
}

.phase {
    background-color: rgb(233 179 8);
}

.task {
    background-color: rgb(204 204 204 / 0.58);
}

.fprp {
    background-color: rgb(243 239 8 / 0.8);
}

.rpns {
    background-color: rgb(163 243 8 / 0.65);
}

.nsfp {
    background-color: rgb(85 0 255 / 0.58);
}

#gantt {
    width: fit-content;
}