.index_block h4{
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    text-align: center;
    font-weight: bolder;
    width: 120px;
    height:35px;
    padding-left: 2px;
    padding-bottom: 2px;
    border: 2px solid black;
    background-color: aliceblue;
    z-index: 100;
}

.index_block a{
    float: left;
    display: flex;
    position: fixed;
    text-align: center;
    width: 112px;
    margin-top: 5px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: aliceblue;
    z-index: 90;
}

.index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
    text-decoration: none;
    background-color: aliceblue;
    border: 1px dotted grey;
    z-index: 95;
}

p#sidebar {
    float: left;
    display: block;
    position: fixed;
    text-align: center;
    width: 120px;
    height: 275px;
    margin-top: 5px;
    margin-bottom: 30px;
    border: 2px solid black;
    background-color: aliceblue;
    z-index: 80;
}

#content {
    margin-left: 133px;
}