:root {
    /* Color Pallette */
    --color-black:          #343f44;
    --color-bright-black:   #868d80;

    --color-red:            #e67e80;
    --color-bright-red:     #e67e80;

    --color-green:          #a7c080;
    --color-bright-green:   #a7c080;

    --color-yellow:         #dbbc7f;
    --color-bright-yellow:  #dbbc7f;

    --color-blue:           #7fbbb3;
    --color-bright-blue:    #7fbbb3;

    --color-magenta:        #d699b6;
    --color-bright-magenta: #d699b6;

    --color-cyan:           #83c092;
    --color-bright-cyan:    #83c092;

    --color-white:          #859289;
    --color-bright-white:   #9da9a0;

    background: var(--color-black);
    color: var(--color-white);
}

a {
    color: var(--color-blue) !important;
}

a:hover {
    color: var(--color-yellow) !important;
}

a:visited {
    color: var(--color-magenta) !important;
}

a:active {
    color: var(--color-bright-red) !important;
}

.index_block {
    background: var(--color-bright-black);
}

.index {
    background: var(--color-black) !important;
}

.index_title {
    background: var(--color-bright-black) !important;
    border: none !important;
    color: var(--color-bright-cyan) !important;
}

h1, footer {
    margin-left: 0;
    text-align: center;
}
body, ul {
    background-color: var(--color-black);
    color: var(--color-bright-white);
    /* float: center; */
}

h1, h2, h3 {
    color: var(--color-cyan);
}

fieldset.sidebar#bar1 { /*index menu*/
    background-color: var(--color-black);

    legend {
        background-color: var(--color-cyan);
    }
}

fieldset.sidebar#bar2 { /*logbook menu*/
    background-color: var(--color-black);

    legend {
        background-color: var(--color-cyan);
    }

    height: fit-content(110%); !important; /*change background block height*/
}

.index { /*menu links*/

}

#nigel_profile {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    clip-path: circle(35% at 50% 50%);
    border: 5px solid var(--color-cyan);
    border-shape: circle(49% at 50% 50%);
}

.major-heading > hr {
    width: 100%;
    margin: auto;
    padding: 0px 0px 10px 0px;
}

.minor-heading > h3 {
    font-weight: bold;
}

.minor-heading > hr {
    width: 70%;
    margin: auto;
    padding: 0px 0px 10px 0px;
}

.questions {
    text-align: center; 
}
