:root {
    --colors-grey: #1E212B; 
    --colors-green: #4D8B31; 
    --colors-yellow: #FF8427; 
    --colors-white: #FFFFFF; 
    background: var(--colors-grey);
    color: var(--colors-white);
}
body, ul {
    background-color: var(--colors-grey);
    color: var(--colors-white);
}

div#bar1 {
    display: block;
    border: 2px solid aliceblue;
    width: 133px;
    height: 310px;
    margin-bottom: 0;
}

div#bar2 {
    display: block;
    border: 2px solid aliceblue;
    width: 133px;
    height: 200px;
    margin-top: 0;
    padding-top: 0;
}

div#sidebars {
    float: left;
    display: block;
    position: fixed;
    text-align: center;
    width: 120px;
    height: 275px;
    margin-top: 5px;
    margin-bottom: 30px;
    z-index: 70;
}

#content {
    margin-left: 150px;
}