body {
    background: aliceblue;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h6 {
    color: #1ad671;
}

ul {
    color: black;
    background-color: aliceblue;
    font-family:  serif, Arial, helvetica;, "Times New Roman";
}

.index_block h4{
    float: left;
    display: flex;
    width: 65px;
    height:35px;
    position: fixed;
    border: 2px solid black;
    padding-left: 2px;
    padding-bottom: 2px;
    border-spacing: inherit;
    background-color: aliceblue;
    z-index: 100;
}

.index_block a{
    margin-top: 5px;
    margin-left: 3px;
    float: left;
    display: flex;
    width: 60px;
    position: fixed;
    border-spacing: inherit;
    border-boundary: inherit;
}

p#sidebar {
    margin-top: 5px;
    margin-bottom: 30px;
    float: left;
    display: block;
    position: fixed;
    border: 1px solid black;
    width: 65px;
    height: 180px;
}

nav#bar {
    margin-top: 50px;
}

.index {
    display: block;
    text-align: left;
    background-color: aliceblue;
    text-decoration: none;
    text-indent: 2px;
}

.top_bread{
    text-indent: 12px;
}

.bottom_bread {
    text-indent: 5px;
}

.week {
    color: dodgerblue;
}

#fergus_img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    clip-path: circle(49% at 50% 50%);
    border: 5px solid dodgerblue;
    border-shape: circle(49% at 50% 50%);
}

figcaption {
    text-align: center;
}

#questions{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

p#copy {
    display: block;
    text-align: center;
    font-size: 60%;
}

#content {
    margin-left: 80px;
}