body {
        font-family: Arial, sans-serif;
        max-width: 900px;
        padding: 20px;
        text-align: center;
        background-color: aliceblue;
}

h1 {
        font-family: Helvetica, sans-serif;
        font-weight: bold;
        font-size: 160%;
        text-align: center;
        color: #DE443F;
}

h2 {
        font-size: 125%;
        font-family: Helvetica, sans-serif;
        color: forestgreen;
}

h3 {
        color: forestgreen;
        text-align: center;
        font-size: 120%;
}

image {
        height: 200px;
}

figcaption {
        text-align: center;
        font-style: italic;
        font-size: 90%;
}

.directory {
        display: inline-block;
        font-size: 80%;
        text-align: center;
}

a:link, a:active {
        font-family: Arial, sans-serif;
        color: #FF5F00;
        text-shadow: #0055AA 1px 1px 1px;
}

a:visited {
        font-family: Arial, sans-serif;
        color: #486E17;
        text-shadow: #0055AA 1px 1px 1px;
}

a:hover {
        font-family: Arial, sans-serif;
        color: #E9B308;
        text-shadow: #0055AA 1px 1px 1px;
}